# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Model weights and Large files
models/
!models/.gitkeep

# Datasets
data/
!data/**/.gitkeep
!data/.gitkeep

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Cleanup and Junk
report.html
laporan/
notebooks/
*.log
*.tmp
